* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background: #ffe5ea;
    color: #444;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid #ffced7;
    z-index: 50;
}

.logo {
    font-size: 52px;
    font-weight: 700;
    color: #ff7b9c;
    font-family: "Playfair Display", serif;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    color: #444;
    transition: 0.3s ease;
}

nav a:hover {
    color: #ff7b9c;
}

/* HERO */
.hero {
    padding: 150px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h3 {
    color: #ff7b9c;
    font-size: 22px;
}

.hero-text h1 {
    font-family: "Playfair Display";
    font-size: 60px;
    color: #ff7b9c;
    margin: 10px 0;
}

.hero-text p {
    width: 380px;
    font-size: 16px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 30px;
    background: #ff7b9c;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #ff517d;
}

.hero-img img {
    width: 420px;
    border-radius: 25px;
    box-shadow: 0px 10px 30px rgba(255, 143, 160, 0.4);
}

/* SECTIONS */
.section {
    padding: 120px 80px;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: "Playfair Display";
    color: #ff7b9c;
    margin-bottom: 20px;
}

/* ABOUT */
.about-img {
    width: 380px;
    margin-top: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(255, 129, 145, 0.4);
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 250px;
    background: white;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(255, 156, 171, 0.35);
}

.card .icon {
    width: 60px;
    margin-bottom: 12px;
}

/* BLOG */
.blog-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.blog-card {
    width: 280px;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(255, 156, 171, 0.35);
}

.blog-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.blog-card h3 {
    padding: 15px;
    font-size: 18px;
    color: #ff7b9c;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 25px rgba(255, 156, 171, 0.5);
}

.popup-box h2 {
    margin-bottom: 10px;
    color: #ff7b9c;
}
