* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgba(135, 33, 207, 0.701);
}

.testimonial {
  width: 600px;              
  border: 1px solid white; 
  border-radius: 8px;
  padding: 20px;             
  margin: 300px auto;  
  background-color: rgba(255, 255, 255, 0.8); 
    font-family: "Cookie", cursive;
}
svg {
    width:44px;
    height:54px;
    margin-bottom: 32px;
    fill:purple
}


.quote {
  margin-bottom: 20px; 
    font-size: 30px;     
}

.author {
  margin-bottom: 5px;
  font-size: 20px;
  text-align: right;
}